@import "tailwindcss";

body {
  font-family: "Inter", serif;
}



.heroImage-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/heroimage.png');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

